<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">

  <title>Daily Inspiration</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="content">
        <h1 class="heading">Unlock Daily Inspiration</h1>
        <p class="description">Get a new motivational quote every day to keep you inspired and focused.</p>
        <div class="buttons">
          <a class="btn login" href="/login">Login</a>
          <a class="btn signup" href="/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </section>
</body>

</html>