<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/signup.css">

</head>

<body>
  <div class="container">
    <div class="form-wrapper">
      <div class="header">
        <h2>Create a new account</h2>
        <p>
          Or
          <a href="/login">login to your existing account</a>
        </p>
      </div>
      <form id="userForm" action="/api/user/signup" method="POST">
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" autocomplete="name" required placeholder="Enter your name">
        </div>
        <div class="input-group">
          <label for="email">Email address</label>
          <input type="email" id="email" name="email" autocomplete="email" required placeholder="Enter your email">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" autocomplete="new-password" required
            placeholder="Enter a password">
        </div>
        <div class="input-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" name="confirmPassword" autocomplete="new-password" required
            placeholder="Confirm your password">
        </div>
        <div class="button-group">
          <button type="submit">Create account</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>